@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: serif;
}
:root {
  --sans: "Open Sans", sans-serif;
}
.container {
  width: 70%;
  margin: auto;
}

.no-container {
  position: relative;
  overflow-x: hidden;
}

.container-fluid {
  width: 90%;
  margin: auto;
}

.section-title {
  font-size: 1.7rem;
  text-transform: capitalize;
  font-family: serif;
  font-weight: 400;
  padding-bottom: 3rem;
}

/* header  */
header {
  position: relative;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  /* position: relative; */
}

#nav-bar,
#nav-right {
  display: flex;
  gap: 2rem;
}

#nav-bar li,
#nav-right li {
  list-style: none;
  line-height: 5rem;
  height: 5rem;
  /* background-color: rebeccapurple; */
}

#nav-bar li .nav-link,
#nav-right li a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--sans);
  color: black;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  transition: 0.2s ease;
}

#nav-bar li .nav-link:hover {
  border-bottom: 1px solid gray;
}

#sub-nav-wrapper {
  background-color: white;
  position: absolute;
  z-index: 1;
  left: 0;
  width: 100%;
  padding-bottom: 5rem;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s ease;
  top: 100%;
  border-top: 1px solid gray;
}

.sub-nav-container {
  width: 90%;
  display: flex;
  gap: 4rem;
  margin: auto;
  flex-wrap: wrap;
}

.sub-nav h2 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  font-family: var(--sans);
  /* padding-bottom: 0 !important; */
  height: 3rem !important;
  line-height: 3rem !important;
  letter-spacing: 1.5px;
}

.sub-nav-list li {
  height: 2rem !important;
  line-height: 2rem !important;

  /* background-color: red; */
  /* margin: 10px; */
}

.sub-nav-list a {
  font-size: 0.9rem !important;
  font-weight: 500 !important;
  transition: 0.2s ease;
  text-decoration: none;
  font-family: var(--sans);
  color: gray;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}

.sub-nav-list a:hover {
  border-bottom: 1px solid gray;
}

#nav-bar li:hover #sub-nav-wrapper {
  visibility: visible;
  opacity: 1;
}

/* overflow */

/* 
#login-overlay {
  position: fixed;
  top: 0 ;
  left: 0;
  right: 0;
  bottom: 0; 
  background: rgba(0, 0, 0, 0.808);
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s ease;
} */
/*user login  */
#user-login,
#cart-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 40rem;
  /* padding:  1rem 0; */
  background-color: #fdfbf7ef;
  z-index: 2;
  /* overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s ease; */
}
#user-login{
  display: none;
}

#user-login:target {
  visibility: visible;
  opacity: 1;
}
#user-login:target body {
  background-color: red;
  overflow: 0;
}

.login-container {
  width: 20rem;
  margin: auto;
}

.top-close-button {
  text-align: end;
}

.login-title {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.5rem;
  /* color: beige; */
}

.facebook-login {
  background-color: #4267b2;
  display: flex;
  /* height: 3rem; */
  justify-content: center;
  align-items: center;
  color: white;
  margin: 1rem 0;
  gap: 1rem;
  box-shadow: 1px 0.5px 5px black;
}

.facebook-login div,
.google-login div,
.apple-login div {
  height: 3rem;
  line-height: 3rem;
}

.facebook-login p,
.apple-login p {
  color: white;
}

.google-login p {
  color: black;
}
.facebook-login p,
.google-login p,
.apple-login p {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 3rem;
  height: 3rem;
  text-transform: capitalize;
  font-family: var(--sans);
}
.google-login {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 1rem 0;
  gap: 1rem;
  box-shadow: 1px 0.5px 5px black;
}
.login-or {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem; /* space between lines & text */
}

.login-or::before,
.login-or::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid black;
}

.login-or {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  font-family: var(--sans);
}

.apple-login {
  display: flex;
  background-color: black;
  height: 3rem;
  line-height: 3rem;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 1rem 0;
  gap: 1rem;
  box-shadow: 1px 0.5px 5px black;
}
/* 
.email-login-box {
} */

.email-login-box p {
  text-transform: uppercase;
  font-size: 0.9rem;
  line-height: 1.5rem;
  font-family: var(--sans);
  letter-spacing: 1.1px;
}

#emailId {
  width: 100%;
  height: 2.5rem;
  padding-left: 1rem;
  font-size: 0.9rem;
  font-family: var(--sans);
}

#emailId::placeholder {
  text-transform: uppercase;
  font-family: var(--sans);
  font-size: 0.9rem;
  letter-spacing: 0.9px;
}

.email-button {
  background-color: gray;
  border: none;
  font-size: 1.1rem;
  font-family: var(--sans);
  text-transform: uppercase;
  padding: 0.5rem 4rem;
  letter-spacing: 1px;
  color: white;
}

.email-button:hover {
  cursor: pointer;
}

/* cart-box */

#cart-wrapper{
  width: 60rem;
}
#cart-box{
  width: 50rem;
  margin: 3rem auto;
  /* background-color: red; */
}

.cart-upper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  /* background-color: red; */
}

.item-cart-wrapper{
  background-color: red;
  display: flex;
  gap: 1;
}
.cart-item-img{
  width: 12rem;
}

.cart-item-img img{
  width: 100%;
  object-fit: cover ;
}

/* #cart-wrapper {
  position: absolute;
  display: block;
  width: 100%;
  background-color: #f1eee9b5;
  z-index: 1;
  left: 0;
} */

/* hero section */
.hero-box {
  width: 100%;
  display: flex;
  /* overflow-x: hidden; */
  position: relative;
}

.inner-box {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  position: relative;
}

.hero-image {
  width: 100%;
  flex-shrink: 0;
  height: 70vh;
}

.hero-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
  width: 40rem;
  /* height: 100%; */
  position: absolute;
  left: 6%;
  top: 50%;
  transform: translateY(-50%);
  /* background-color: red; */
  color: white;
}

.hero-text .hero-upper-text {
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 3rem;
  padding-bottom: 0.5rem;
}

.hero-text .hero-middle-text {
  font-size: 1.15rem;
  font-weight: 400;
  line-height: 1.75rem;
  word-wrap: break-word;
  padding-bottom: 1.5rem;
}

.hero-text .hero-btn-link {
  /* background-color: red; */
  display: block;
  background-color: white;
  padding: 1rem;
  font-size: 0.9rem;
  line-height: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--sans);
  width: 20rem;
  color: gray;
  text-align: center;
  transition: 0.2s linear;
}

.hero-btn-link:hover {
  background-color: rgba(255, 255, 255, 0.753);
}

.hero-index {
  /* background-color: red; */
  position: fixed;
  top: -30px;
  right: -90%;
  position: relative;
}

.hero-index-number {
  display: flex;
  gap: 1rem;
}

.index-n {
  height: 1rem;
  color: white;
  /* font: s; */
  font-family: serif;
  font-size: 0.9rem;
}

.index-n::before {
  content: "0";
}

.index-n:hover {
  font-weight: 600;
  transform: scale(1.2);
  cursor: pointer;
}

.hero-indicator {
  position: absolute;
  width: 100%;
  /* margin: auto; */
  display: flex;
  top: 50%;
  /* background-color: red; */
  justify-content: space-between;
}

.hero-left,
.hero-right {
  background-color: white;
  width: 4rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  color: gray;
}

/* info */
.info-box {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
}

.info-img {
  height: 75px;
  width: 75px;
}

.info-img img {
  height: 100%;
  width: 100%;
}

.info-text {
  font-size: 1rem;
  line-height: 1.25rem;
  text-align: center;
  color: gray;
  text-transform: capitalize;
}

/* release */
.release-section {
  background-color: #fdfbf7;
  padding: 6rem 0;
}
.release-box {
  display: flex;
  gap: 2rem;
}

/* --- Card Container --- */
.release-card {
  width: calc(100% / 4);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

/* --- Image --- */
.release-img {
  background-color: #f1eee9b5;
}
.release-img img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* --- Info Section --- */
.release-info {
  padding: 16px;
  position: relative;
  height: 10rem;
  /* background-color: red; */
}

.release-info-title {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 8px;
  width: 70%;
}

.price-info {
  position: absolute;
  right: 4px;
  top: 16px;
  display: flex;
  gap: 5px;
  align-items: center;
  /* margin: 8px 0; */
  font: var(--sans);
}

.discount-price {
  font-size: 1.2rem;
  font-weight: 400;
  /* color: #c0392b; */
  text-decoration: line-through;
}

.real-price {
  font-size: 1.3rem;
  font-weight: 400;
  /* color: #27ae60; */
}

.release-info-sub {
  font-size: 0.8rem;
  color: #666;
  margin: 6px 0;
}

.release-info-data {
  font-size: 0.95rem;
  color: #444;
  font-weight: 600;
  font-family: var(--sans);
  margin: 8px 0;
  letter-spacing: 1.3px;
}

/* --- Add to Cart Button --- */
.release-cart {
  background: gray;
  color: white;
  text-align: center;
  padding: 14px 0;
  cursor: pointer;
  font-weight: 600;
  transition: 0.4s ease;
  font-family: var(--sans);
  font-size: 0.9rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  visibility: 0;
  opacity: 0;
}

.release-card:hover .release-cart {
  visibility: 1;
  opacity: 1;
}
.release-cart:hover {
  background: #1a242f;
}

.holiday-collection-div {
  text-align: center;
  margin-top: 4rem;
}

.collection-link {
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: uppercase;
  font-family: var(--sans);
  display: inline-block;
  border: 1px solid black;
  padding: 1rem 3rem;
  color: gray;
  letter-spacing: 0.7px;
  transition: 0.2s linear;
}

.collection-link:hover {
  outline: 1px solid black;
}

/* artful section */

.gift-artful-box {
  position: relative;
}

.gift-bg-img {
  width: 100%;
  /* height: 30rem; */
}

.gift-bg-img img {
  width: 100%;
  height: 100%;
}

.artful-inner-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 6%;
  width: 40rem;
  /* background-color: red; */
}

.everyone-upper {
  font-size: 2.5rem;
  color: white;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.everyone-middle {
  font-size: 1.3rem;
  line-height: 2rem;
  color: white;
  font-weight: 400;
  margin-bottom: 2rem;
}

.everyone-link {
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: white;
  color: gray;
  padding: 1rem 5rem;
  text-transform: uppercase;
  font-family: var(--sans);
  letter-spacing: 0.9px;
  font-size: 0.9rem;
  /* border: 2px solid white; */
}

/* saveo on section  */
.photo-grid-section,
.photo-grid-section-second {
  padding: 5rem 0;
}
.save-on-section {
  padding: 4rem 0;
}

.save-on-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.save-on-card {
  flex: 1 1 300px;
}

.save-img {
  width: 100%;
  height: 27rem;
}

.save-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.save-on-info {
  padding: 1rem 0;
}
.save-on-upper {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 400;
  font-family: var(--sans);
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.save-on-lower {
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: gray;
}

.save-on-lower::first-letter {
  text-transform: capitalize;
}

/* subcription photo */
.grid-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  /* flexholid-wrap: wrap ; */
}

.wrapper-reverse {
  flex-direction: row-reverse;
}

.grid-photo-box {
  /* height: 60rem; */
  width: clamp(30rem 40vw 100rem);
}

.grid-photo-box img {
  width: 43vw;
  height: 50rem;
}
.grid-data-box {
  max-width: 30rem;
  margin: auto;
  word-wrap: break-word;
}

.grid-second-data-info {
  font-size: 1.2rem;
  font-weight: 400;
  margin: auto;
}
/* subcription flex */
.subscription-flex {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.subscription-box {
  flex: 1 2 calc(50% - 1rem);
  width: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-self:  center; */
  align-items: center;
  /* background-color: red; */
}

.subcription-svg {
  width: 5rem;
}

.subcription-svg img {
  width: 100%;
}
.photo-grid-section-second {
  background-color: #fdfbf7;
}

.subcription-info {
  font-size: 0.9rem;
  font-weight: 400;
  font-family: var(--sans);
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: rgb(99, 99, 99);
}

/* brand info */
.section-guide {
  padding: 5rem 0;
  background-color: #fdfbf7;
}
/* .brand-section {
} */
.brand-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.brand-data {
  display: grid;
  grid-template-columns: 50% 40%;
  gap: 1rem;
  /* align-items:safe; */
  /* gap: 1rem;
   */
  /* justify-content: space-between; */
}

.brand-img {
  width: 100%;
  /* height:  15rem; */
}

.brand-img > img {
  width: 100%;
  /* height: 100%; */
  height: auto;
  object-fit: cover;
}

.brand-title {
  font-size: 1.4rem;
  align-self: self-start;
  font-weight: 400;
  font-family: var(--sans);
  text-transform: uppercase;
  padding: 4rem 0;
  letter-spacing: 0.9px;
  color: black;
}
.brand-info {
  font-size: 0.9rem;
  font-weight: 400;
  font-family: serif;
  color: rgb(99, 96, 96);
  letter-spacing: 0.8px;
  margin-bottom: 2rem;
}

.brand-info::first-letter {
  text-transform: uppercase;
}
.brand-link {
  font-weight: 0.9rem;
  text-decoration: none;
  font-family: var(--sans);
  letter-spacing: 1.5px;
  text-transform: uppercase;
  display: inline-block;
}

/* main */

/* footer */
footer {
  background-color: #333;
  /* color: white; */
  padding: 5rem 0;
}
/* .footer-wrapper {
} */

.footer-title,
.footer-subtitle {
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  font-family: var(--sans);
  letter-spacing: 1.1px;
  margin-bottom: 3rem;
  text-transform: uppercase;
}
.footer-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
}
.footer-contact {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
}

.footer-col {
  flex: 1 1 10rem; /* allows resizing */
  min-width: 10rem;
}
.footer-subtitle {
  margin-bottom: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
}

.footer-link li {
  list-style: none;
  margin: 0.7rem 0;
}
.footer-link li a {
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: var(--sans);
  transition: 0.2s linear;
}

.footer-link li a:hover {
  text-decoration: underline;
}
.footer-sub {
  max-width: 40rem;
}
.footer-col-data {
  color: white;
  font-size: 0.9rem;
  letter-spacing: 1px;
  margin: 0 0 1rem 0;
}
.email-box {
  /* background-color: red; */
  position: relative;
}

#subscribe-email {
  width: 100%;
  height: 2rem;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  outline: none;
  color: white;
  padding: 0 1rem;
}

#subscribe-email::placeholder {
  color: white;
  opacity: 1; /* optional, ensures full visibility */
}

.email-box svg,
.email-box i {
  color: white;
  position: absolute;
  right: 0;
  font-size: 1rem;
}

.footer-social-links a svg {
  color: white;
  font-size: 1.2rem;
}
